<span style="font-size: 14pt">MIPT, Advanced ML, Spring 2018</span>

<span style="font-size: 16pt"> HW #5: Linear Models 

<span style="color:blue; font-size: 12pt">Alexey Romanenko </span>,
<span style="color:blue; font-size: 12pt; font-family: 'Verdana'"> alexromsput@gmail.com</span>

<h1 align="center">Organization Info</h1> 

* Дедлайн **11 апреля 2018 02:59** для всех групп.
* В качестве решения задания нужно прислать ноутбук с подробными комментариями (<span style='color:red'> без присланного решения результат контеста не будет засчитан </span>).
* <span style='color:red'>Название команды в контесте должно соответствовать шаблону: НомерГруппы_Имя_Фамилия, например, 594_Ivan_Ivanov</span>.

**Оформление дз**: 
- Присылайте выполненное задание на почту ``ml.course.mipt@gmail.com``
- Укажите тему письма в следующем формате ``ML2018_fall_<номер_группы>_<фамилия>``, к примеру -- ``ML2018_fall_495_ivanov``
- Выполненное дз сохраните в файл ``<фамилия>_<группа>_task<номер>.ipnb, к примеру`` -- ``ivanov_401_task5.ipnb``

**Вопросы**:
- Присылайте вопросы на почту ``ml.course.mipt@gmail.com``
- Укажите тему письма в следующем формате ``ML2018_fall Question <Содержание вопроса>``


--------
- **PS1:** Используются автоматические фильтры, и просто не найдем ваше дз, если вы неаккуратно его подпишите.
- **PS2:**  Просроченный дедлайн снижает максимальный вес задания по формуле, указнной на первом семинаре
- **PS3:** Допустимы исправление кода предложенного кода ниже, если вы считаете

<h1 align="center">Check Questions </h1>

Ниже приводится список вопросов, с ответами на которые может быть полезно разобраться
для понимания темы.

**1.** Как выглядит решающее правило в линейной классификации? А зависимость, которой мы приближаем ответы в линейной регрессии?

**2.** Что такое функции потерь в задачах классификации и регрессии? Зачем они нужны?

**3.** Что такое регуляризаторы? Какими они бывают в задачах линейной классификации и регрессии? Зачем они нужны?

**4.** Как в общем виде выглядит оптимизационная задача в линейной классификации или линейной регрессии?

**5.** Как работает настройка весов в линейной модели с помощью SGD (Stochastic Gradient Decent)? Как выглядит правило обновления весов?

**6.** Учитывается ли коэффициент сдвига w0 в регуляризаторе? Почему?

**7.** Почему линейные модели рекомендуется применять к выборке с нормированными значениями признаков?

**8.** Как выглядит оптимизационная задача в логистической регрессии? А в SVM?

**9.** Выпишите и докажите формулу для весов в линейной регрессии (с квадратичной функцией потерь).
То же самое для гребневой регрессии.

**10.** Выпишите SGD для логистической регрессии с $l2$-регуляризацией и для SVM с линейным ядром.

**11.** В чем заключается идея ядер в SVM?

**12.** Какие преимущества и недостатки есть у линейных моделей?

**13.** На какие 3 матрицы раскладывается произвольная матрица при SVD? Что такое сингулярные числа

<h1 align="center">Contest 1 (40%)</h1> 
** Ссылка на контест: ** https://www.kaggle.com/t/68e2660e41d94d64a3c2251a1df16ab3

# Критерии оценивания
Для того чтобы получить оценку нужно
* 1) прислать код вашей модели (можно использовать только линейные модели), которая выдает один из финальных сабмиттов.
* 2) чтобы получить
    - хор (5)  и выше нужно превзойти результат benchmark_1;
    - отл (8) и выше нужно превзойти результат benchmark_2;
* 3) Ваше имя в лидерборде должно иметь вид <НомерГруппы>\_Имя\_Фамилия, например: 594\_Иван\_Иванов. Если имя не будет соответствовать формату организаторы вправе снизить оценку.

In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
train = pd.read_csv('train.csv', index_col=0)
train.head()

,label,feat1,feat2,feat3,feat4,feat5,feat6,feat7,feat8,feat9,...,feat207,feat208,feat209,feat210,feat211,feat212,feat213,feat214,feat215,feat216
id,,,,,,,,,,,,,,,,,,,,,
1,1,7,0,3,0,2,3,0,6,0,...,3,4,2,2,0,13,0,11,1,3
2,1,0,11,0,0,10,1,0,0,4,...,0,2,0,0,2,8,1,13,0,4
3,0,9,0,3,0,1,3,0,4,0,...,48,11,2,0,0,4,0,2,0,0
4,0,0,9,3,2,25,0,4,0,0,...,1,14,1,0,0,0,3,0,17,1
5,0,0,0,0,0,2,5,0,0,0,...,3,12,0,3,0,4,0,24,4,0

In [3]:
test = pd.read_csv('test.csv', index_col=0)
test.head()

,feat1,feat2,feat3,feat4,feat5,feat6,feat7,feat8,feat9,feat10,...,feat207,feat208,feat209,feat210,feat211,feat212,feat213,feat214,feat215,feat216
id,,,,,,,,,,,,,,,,,,,,,
1,4,2,2,0,4,2,1,2,1,0,...,4,5,3,1,0,7,1,6,2,3
2,3,3,0,0,1,2,0,9,3,3,...,8,1,0,0,1,21,0,27,2,0
3,0,0,0,2,2,8,0,1,0,9,...,3,23,0,0,0,1,0,5,1,1
4,0,0,0,0,0,0,0,7,0,9,...,9,4,0,0,0,14,0,18,1,3
5,1,2,3,0,2,0,0,13,0,3,...,2,4,0,2,0,20,0,17,1,7

In [4]:
X = np.array(train[train.columns[1:]])
Y = np.array(train[train.columns[0]])

In [5]:
clf = LogisticRegression()
clf.fit(X, Y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [6]:
accuracy_score(Y, clf.predict(X))

0.99444444444444446

In [7]:
np.array(list(enumerate(clf.predict(test))))

array([[   0,    1],
       [   1,    1],
       [   2,    0],
       ...,
       [9047,    1],
       [9048,    1],
       [9049,    1]])

In [8]:
answer = pd.DataFrame(np.array(list(enumerate(clf.predict(test)))), columns=['id', 'label'])
answer.id += 1
answer = answer.set_index('id')
answer.to_csv('result.csv')

<h1 align="center">Contest 2 (40%)</h1> 
* Ссылка на контест: https://www.kaggle.com/t/2343d1882c6842258e3825b4a8a1e5a8

# Критерии оценивания
Для того чтобы получить оценку нужно
* 1) Прислать код вашей модели, которая выдает один из финальных сабмиттов.
* 2) чтобы получить
    - хор (5)  и выше нужно превзойти результат benchmark_1;
    - отл (8) и выше нужно превзойти результат benchmark_2;
* 3) Ваше имя в лидерборде должно иметь вид <НомерГруппы>\_Имя\_Фамилия, например: 594\_Иван\_Иванов. Если имя не будет соответствовать формату организаторы вправе снизить оценку.

In [217]:
import numpy as np
import pandas as pd
import re
import nltk
from sklearn.model_selection import GridSearchCV
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.feature_selection import SelectFromModel

In [10]:
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [218]:
def submit(preds):
    submission = pd.read_csv("sampleSubmission1.csv")
    submission.sentiment = preds
    submission.to_csv("submission.csv", index=False)

In [243]:
train = pd.read_csv('train1.csv', sep=',', header=0,
                    names=['id', 'author', 'content', 'sentiment'])
train = train.set_index('id')
test = pd.read_csv('test1.csv', sep=',')
test = test.set_index('id')

labels = train.sentiment

train.drop(['author', 'sentiment'], axis=1, inplace=True)
test.drop(['author'], axis=1, inplace=True)

In [244]:
stopwords = nltk.corpus.stopwords.words('english')
stemmer = nltk.stem.SnowballStemmer('english')

def clean_text(text):
    re1 = re.compile('@([^\s])+')
    re2 = re.compile('\'([^\s])*')
    
    cleaned_text = re.sub(re1, ' ', text)
    cleaned_text = re.sub(re2, '', cleaned_text)
    cleaned_text = cleaned_text.lower()
    
    cleaned_text = ' '.join([stemmer.stem(word) for word in nltk.word_tokenize(cleaned_text)
                                                if stemmer.stem(word) not in stopwords])
    
    re3 = re.compile('[^a-zA-Z0-9- ]')
    cleaned_text = re.sub(re3, '', cleaned_text)
    
    return cleaned_text

In [245]:
corpus = pd.concat([train, test], axis=0)
corpus.head()

                                                 content
id
26898  @treasaint salad stuff, some chillis, whatever...
27635  @sunnyjamiel sunny, I'm a workin' on it. It's ...
3036                              @jolynnchew so early??
5604   So now, I have conjunctivitis in my left eye. ...
36111  Out and about in Deal, Kent. More sunshine req...

In [246]:
corpus.content = corpus.content.apply(clean_text)
corpus.head()

                                                 content
id
26898  salad stuff  chilli  whatev horti mate give re...
27635        sunni  workin  veri much progress  let know
3036                                             earli
5604    conjunct left eye  sign someth  wrong deserv ...
36111  deal  kent  sunshin requir think http  yfrogco...

In [247]:
%time all_encoded = TfidfVectorizer(analyzer='word', max_df=0.9).fit_transform(corpus.content)

CPU times: user 508 ms, sys: 4 ms, total: 512 ms
Wall time: 511 ms

In [248]:
all_encoded = all_encoded.tocsr()

train = all_encoded[:train.shape[0]]
test = all_encoded[train.shape[0]:]

In [249]:
lr = LogisticRegression().fit(train, labels)
model = SelectFromModel(lr, prefit=True)
train = model.transform(train)
test = model.transform(test)
train.shape

(30000, 8301)

In [250]:
#params = {'C': np.linspace(0.5, 1.5, 10)}
params = {'C' : np.array([0.9, 0.95, 1.0])}

gscv = GridSearchCV(LogisticRegression(), param_grid=params, scoring='accuracy', cv=5, verbose=1)
%time gscv.fit(train, labels)

Fitting 5 folds for each of 6 candidates, totalling 30 fits

[Parallel(n_jobs=1)]: Done  30 out of  30 | elapsed:   44.0s finished

CPU times: user 2min 22s, sys: 5.63 s, total: 2min 28s
Wall time: 47.1 s

GridSearchCV(cv=5, error_score='raise',
       estimator=LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'C': array([ 0.9 ,  0.95,  1.  ]), 'penalty': ['l1', 'l2']},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='accuracy', verbose=1)

In [251]:
gscv.best_params_, gscv.best_score_

({'C': 0.94999999999999996, 'penalty': 'l2'}, 0.34876666666666667)

In [230]:
preds = gscv.best_estimator_.predict(test)

In [240]:
lr = gscv.best_estimator_.fit(train, labels)
model = SelectFromModel(lr, prefit=True)
train = model.transform(train)
test = model.transform(test)
train.shape

(30000, 2750)

In [231]:
gscv.best_estimator_.coef_.shape

(13, 2653)

In [232]:
np.unique(preds, return_counts=True)

(array(['boredom', 'empty', 'fun', 'happiness', 'hate', 'love', 'neutral',
        'relief', 'sadness', 'surprise', 'worry'], dtype=object),
 array([   1,    5,   40, 1282,  107,  789, 3806,   25,  882,   83, 2980]))

In [233]:
submit(preds)

<h1 align="center">Теоретические задачи (20%)</h1> 

** Задача 1**
Покажите, что регуляризатор в задаче линейной классификации имеет вероятностный смысл априорного распределения параметров моделей. Какие распределения задают 𝑙1-регуляризатор и 𝑙2-регуляризатор?

** Задача 2**
Покажите, что в случае линейно разделимой выборки функционал, максимизируемый при обучении логистической регрессии, достигает своего максимума в бесконечности (при бесконечно больших значениях компонент вектора весов), а значит для процесса обучения необходимо добавить регуляризационный член.

** Задача 3**
Задана выборка объектов, каждый из которых принадлежит одному из двух классов $Y = \{1; -1\}$. В некотором спрямляющем пространстве, задаваемом ядром $K_1(x_1; x_2)$, эта выборка является линейно разделимой, а в некотором спрямляющем пространстве, задаваемом ядром $K_2(x_1; x_2)$, не является линейно разделимой. Существует ли спрямляемое пространство, задаваемое ядром $K(x_1; x_2) = K_1(x_1; x_2) + K_2(x_1; x_2)$, в котором эта выборка будет линейно разделимой?

** Задача 4**
Покажите, что если предварительно центрировать выборку в задаче линейной регрессии, то параметр сдвига $𝑤_0$ (коэффициент перед константой) получится равным нулю.